<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Редагувати {{ entity_name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-4">
    <h2 class="text-center mb-4">Редагувати {{ entity_name }}</h2>

    <!-- Форма для редактирования сущности -->
    <form method="post" class="border p-3 mb-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Зберегти зміни</button>
    </form>

    <!-- Кнопка для удаления сущности -->
    <button id="delete-button" class="btn btn-danger mt-3">Видалити</button>
    <a href="{% url entity_list_url %}" class="btn btn-link mt-3">Назад до списку</a>
</div>

{% block tax %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    document.getElementById('delete-button').addEventListener('click', function() {
        if (confirm('Ви впевнені, що хочете видалити?')) {
            fetch("{% url entity_retrieve_update_delete_url entity.id %}", {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "{% url entity_list_url %}";
                } else {
                    alert("Видалення не вдалося.");
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });
</script>

</body>
</html>