{% extends 'app/base_list_create.html' %}

{% block title %}Список забруднювачів{% endblock %}

{% block header %}Список забруднювачів{% endblock %}

{% block object_list %}
    {% for pollutant in pollutants %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ pollutant.pollutant_name }} - {{ pollutant.chemical_formula }}
            <a href="{% url 'pollutant_retrieve_update_delete' pollutant.id %}" class="btn btn-secondary btn-sm">Редагувати</a>
        </li>
    {% endfor %}
{% endblock %}
