{% extends 'app/base_list_create.html' %}

{% block title %}Список записів{% endblock %}

{% block header %}Список записів{% endblock %}

{% block object_list %}
    {% for record in records %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ record.year }} - {{ record.enterprise }}
            <a href="{% url 'record_retrieve_update_delete' record.id %}" class="btn btn-secondary btn-sm">Редагувати</a>
        </li>
    {% endfor %}
{% endblock %}
