{% extends 'app/base.html' %}

{% block title %}Enterprises{% endblock %}

{% block body %}
    <div class="mb-4">
        <a href="{% url 'home' %}" class="btn btn-secondary">На головну</a>
    </div>

    <h2 class="text-center mb-4">Enterprises</h2>
    
    <div class="mb-3">
        <a href="{% url 'enterprise_create' %}" class="btn btn-primary">Додати нове підприємство</a>
    </div>

    <form method="get" class="mb-3">
        <input type="text" name="q" class="form-control" placeholder="Пошук за назвою" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-secondary mt-2">Пошук</button>
    </form>
    
    <ul class="list-group">
        {% for enterprise in enterprises %}
            <li class="list-group-item d-flex justify-content-between">
                {{ enterprise }}
                <div>
                    <a href="{% url 'pollutant_detail' enterprise.pk %}" class="btn btn-info btn-sm">Перейти</a>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">Немає записів</li>
        {% endfor %}
    </ul>
{% endblock %}